<h1 class="text-center text-2xl font-bold">Design System Gov.BR Tailwind Theme</h1>
<div>
  @for (color of colors; track color.name){
  <h3 class="text-lg font-semibold py-6">{{color.name}}</h3>
  <table class="w-full border">
    <thead>
      <tr>
        <th>Color token</th>
        <th>Color value</th>
        <th>Color preview</th>
      </tr>
    </thead>
    <tbody>
      @for( v of color.variations; track v){
      <tr>
        <td>{{v.token}}</td>
        <td>{{v.color}}</td>
        <td [ngClass]="'bg-' + v.token"></td>
      </tr>

      }
    </tbody>
  </table>
  }
</div>
<!-- bg-red-5
bg-red-10
bg-red-20
bg-red-30
bg-red-40
bg-red-50
bg-red-60
bg-red-70
bg-red-80
bg-red-90
bg-red-vivid-5
bg-red-vivid-10
bg-red-vivid-20
bg-red-vivid-30
bg-red-vivid-40
bg-red-vivid-50
bg-red-vivid-60
bg-red-vivid-70
bg-red-vivid-80
bg-red-cool-5
bg-red-cool-10
bg-red-cool-20
bg-red-cool-30
bg-red-cool-40
bg-red-cool-50
bg-red-cool-60
bg-red-cool-70
bg-red-cool-80
bg-red-cool-90
bg-red-cool-vivid-5
bg-red-cool-vivid-10
bg-red-cool-vivid-20
bg-red-cool-vivid-30
bg-red-cool-vivid-40
bg-red-cool-vivid-50
bg-red-cool-vivid-60
bg-red-cool-vivid-70
bg-red-cool-vivid-80
bg-red-warm-5
bg-red-warm-10
bg-red-warm-20
bg-red-warm-30
bg-red-warm-40
bg-red-warm-50
bg-red-warm-60
bg-red-warm-70
bg-red-warm-80
bg-red-warm-90
bg-red-warm-vivid-5
bg-red-warm-vivid-10
bg-red-warm-vivid-20
bg-red-warm-vivid-30
bg-red-warm-vivid-40
bg-red-warm-vivid-50
bg-red-warm-vivid-60
bg-red-warm-vivid-70
bg-red-warm-vivid-80
bg-orange-5
bg-orange-10
bg-orange-20
bg-orange-30
bg-orange-40
bg-orange-50
bg-orange-60
bg-orange-70
bg-orange-80
bg-orange-90
bg-orange-vivid-5
bg-orange-vivid-10
bg-orange-vivid-20
bg-orange-vivid-30
bg-orange-vivid-40
bg-orange-vivid-50
bg-orange-vivid-60
bg-orange-vivid-70
bg-orange-vivid-80
bg-orange-warm-5
bg-orange-warm-10
bg-orange-warm-20
bg-orange-warm-30
bg-orange-warm-40
bg-orange-warm-50
bg-orange-warm-60
bg-orange-warm-70
bg-orange-warm-80
bg-orange-warm-90
bg-orange-warm-vivid-5
bg-orange-warm-vivid-10
bg-orange-warm-vivid-20
bg-orange-warm-vivid-30
bg-orange-warm-vivid-40
bg-orange-warm-vivid-50
bg-orange-warm-vivid-60
bg-orange-warm-vivid-70
bg-orange-warm-vivid-80
bg-gold-5
bg-gold-10
bg-gold-20
bg-gold-30
bg-gold-40
bg-gold-50
bg-gold-60
bg-gold-70
bg-gold-80
bg-gold-90
bg-gold-vivid-5
bg-gold-vivid-10
bg-gold-vivid-20
bg-gold-vivid-30
bg-gold-vivid-40
bg-gold-vivid-50
bg-gold-vivid-60
bg-gold-vivid-70
bg-gold-vivid-80
bg-yellow-5
bg-yellow-10
bg-yellow-20
bg-yellow-30
bg-yellow-40
bg-yellow-50
bg-yellow-60
bg-yellow-70
bg-yellow-80
bg-yellow-90
bg-yellow-vivid-5
bg-yellow-vivid-10
bg-yellow-vivid-20
bg-yellow-vivid-30
bg-yellow-vivid-40
bg-yellow-vivid-50
bg-yellow-vivid-60
bg-yellow-vivid-70
bg-yellow-vivid-80
bg-green-5
bg-green-10
bg-green-20
bg-green-30
bg-green-40
bg-green-50
bg-green-60
bg-green-70
bg-green-80
bg-green-90
bg-green-vivid-5
bg-green-vivid-10
bg-green-vivid-20
bg-green-vivid-30
bg-green-vivid-40
bg-green-vivid-50
bg-green-vivid-60
bg-green-vivid-70
bg-green-vivid-80
bg-green-cool-5
bg-green-cool-10
bg-green-cool-20
bg-green-cool-30
bg-green-cool-40
bg-green-cool-50
bg-green-cool-60
bg-green-cool-70
bg-green-cool-80
bg-green-cool-90
bg-green-cool-vivid-5
bg-green-cool-vivid-10
bg-green-cool-vivid-20
bg-green-cool-vivid-30
bg-green-cool-vivid-40
bg-green-cool-vivid-50
bg-green-cool-vivid-60
bg-green-cool-vivid-70
bg-green-cool-vivid-80
bg-green-warm-5
bg-green-warm-10
bg-green-warm-20
bg-green-warm-30
bg-green-warm-40
bg-green-warm-50
bg-green-warm-60
bg-green-warm-70
bg-green-warm-80
bg-green-warm-90
bg-green-warm-vivid-5
bg-green-warm-vivid-10
bg-green-warm-vivid-20
bg-green-warm-vivid-30
bg-green-warm-vivid-40
bg-green-warm-vivid-50
bg-green-warm-vivid-60
bg-green-warm-vivid-70
bg-green-warm-vivid-80
bg-mint-5
bg-mint-10
bg-mint-20
bg-mint-30
bg-mint-40
bg-mint-50
bg-mint-60
bg-mint-70
bg-mint-80
bg-mint-90
bg-mint-vivid-5
bg-mint-vivid-10
bg-mint-vivid-20
bg-mint-vivid-30
bg-mint-vivid-40
bg-mint-vivid-50
bg-mint-vivid-60
bg-mint-vivid-70
bg-mint-vivid-80
bg-mint-cool-5
bg-mint-cool-10
bg-mint-cool-20
bg-mint-cool-30
bg-mint-cool-40
bg-mint-cool-50
bg-mint-cool-60
bg-mint-cool-70
bg-mint-cool-80
bg-mint-cool-90
bg-mint-cool-vivid-5
bg-mint-cool-vivid-10
bg-mint-cool-vivid-20
bg-mint-cool-vivid-30
bg-mint-cool-vivid-40
bg-mint-cool-vivid-50
bg-mint-cool-vivid-60
bg-mint-cool-vivid-70
bg-mint-cool-vivid-80
bg-cyan-5
bg-cyan-10
bg-cyan-20
bg-cyan-30
bg-cyan-40
bg-cyan-50
bg-cyan-60
bg-cyan-70
bg-cyan-80
bg-cyan-90
bg-cyan-vivid-5
bg-cyan-vivid-10
bg-cyan-vivid-20
bg-cyan-vivid-30
bg-cyan-vivid-40
bg-cyan-vivid-50
bg-cyan-vivid-60
bg-cyan-vivid-70
bg-cyan-vivid-80
bg-blue-5
bg-blue-10
bg-blue-20
bg-blue-30
bg-blue-40
bg-blue-50
bg-blue-60
bg-blue-70
bg-blue-80
bg-blue-90
bg-blue-vivid-5
bg-blue-vivid-10
bg-blue-vivid-20
bg-blue-vivid-30
bg-blue-vivid-40
bg-blue-vivid-50
bg-blue-vivid-60
bg-blue-vivid-70
bg-blue-vivid-80
bg-blue-cool-5
bg-blue-cool-10
bg-blue-cool-20
bg-blue-cool-30
bg-blue-cool-40
bg-blue-cool-50
bg-blue-cool-60
bg-blue-cool-70
bg-blue-cool-80
bg-blue-cool-90
bg-blue-cool-vivid-5
bg-blue-cool-vivid-10
bg-blue-cool-vivid-20
bg-blue-cool-vivid-30
bg-blue-cool-vivid-40
bg-blue-cool-vivid-50
bg-blue-cool-vivid-60
bg-blue-cool-vivid-70
bg-blue-cool-vivid-80
bg-blue-warm-5
bg-blue-warm-10
bg-blue-warm-20
bg-blue-warm-30
bg-blue-warm-40
bg-blue-warm-50
bg-blue-warm-60
bg-blue-warm-70
bg-blue-warm-80
bg-blue-warm-90
bg-blue-warm-vivid-5
bg-blue-warm-vivid-10
bg-blue-warm-vivid-20
bg-blue-warm-vivid-30
bg-blue-warm-vivid-40
bg-blue-warm-vivid-50
bg-blue-warm-vivid-60
bg-blue-warm-vivid-70
bg-blue-warm-vivid-80
bg-blue-warm-vivid-90
bg-indigo-5
bg-indigo-10
bg-indigo-20
bg-indigo-30
bg-indigo-40
bg-indigo-50
bg-indigo-60
bg-indigo-70
bg-indigo-80
bg-indigo-90
bg-indigo-vivid-5
bg-indigo-vivid-10
bg-indigo-vivid-20
bg-indigo-vivid-30
bg-indigo-vivid-40
bg-indigo-vivid-50
bg-indigo-vivid-60
bg-indigo-vivid-70
bg-indigo-vivid-80
bg-indigo-cool-5
bg-indigo-cool-10
bg-indigo-cool-20
bg-indigo-cool-30
bg-indigo-cool-40
bg-indigo-cool-50
bg-indigo-cool-60
bg-indigo-cool-70
bg-indigo-cool-80
bg-indigo-cool-90
bg-indigo-cool-vivid-5
bg-indigo-cool-vivid-10
bg-indigo-cool-vivid-20
bg-indigo-cool-vivid-30
bg-indigo-cool-vivid-40
bg-indigo-cool-vivid-50
bg-indigo-cool-vivid-60
bg-indigo-cool-vivid-70
bg-indigo-cool-vivid-80
bg-indigo-warm-5
bg-indigo-warm-10
bg-indigo-warm-20
bg-indigo-warm-30
bg-indigo-warm-40
bg-indigo-warm-50
bg-indigo-warm-60
bg-indigo-warm-70
bg-indigo-warm-80
bg-indigo-warm-90
bg-indigo-warm-vivid-5
bg-indigo-warm-vivid-10
bg-indigo-warm-vivid-20
bg-indigo-warm-vivid-30
bg-indigo-warm-vivid-40
bg-indigo-warm-vivid-50
bg-indigo-warm-vivid-60
bg-indigo-warm-vivid-70
bg-indigo-warm-vivid-80
bg-violet-5
bg-violet-10
bg-violet-20
bg-violet-30
bg-violet-40
bg-violet-50
bg-violet-60
bg-violet-70
bg-violet-80
bg-violet-90
bg-violet-vivid-5
bg-violet-vivid-10
bg-violet-vivid-20
bg-violet-vivid-30
bg-violet-vivid-40
bg-violet-vivid-50
bg-violet-vivid-60
bg-violet-vivid-70
bg-violet-vivid-80
bg-violet-warm-5
bg-violet-warm-10
bg-violet-warm-20
bg-violet-warm-30
bg-violet-warm-40
bg-violet-warm-50
bg-violet-warm-60
bg-violet-warm-70
bg-violet-warm-80
bg-violet-warm-90
bg-violet-warm-vivid-5
bg-violet-warm-vivid-10
bg-violet-warm-vivid-20
bg-violet-warm-vivid-30
bg-violet-warm-vivid-40
bg-violet-warm-vivid-50
bg-violet-warm-vivid-60
bg-violet-warm-vivid-70
bg-violet-warm-vivid-80
bg-magenta-5
bg-magenta-10
bg-magenta-20
bg-magenta-30
bg-magenta-40
bg-magenta-50
bg-magenta-60
bg-magenta-70
bg-magenta-80
bg-magenta-90
bg-magenta-vivid-5
bg-magenta-vivid-10
bg-magenta-vivid-20
bg-magenta-vivid-30
bg-magenta-vivid-40
bg-magenta-vivid-50
bg-magenta-vivid-60
bg-magenta-vivid-70
bg-magenta-vivid-80
bg-gray-1
bg-gray-2
bg-gray-3
bg-gray-4
bg-gray-5
bg-gray-10
bg-gray-20
bg-gray-30
bg-gray-40
bg-gray-50
bg-gray-60
bg-gray-70
bg-gray-80
bg-gray-90
bg-gray-cool-1
bg-gray-cool-2
bg-gray-cool-3
bg-gray-cool-4
bg-gray-cool-5
bg-gray-cool-10
bg-gray-cool-20
bg-gray-cool-30
bg-gray-cool-40
bg-gray-cool-50
bg-gray-cool-60
bg-gray-cool-70
bg-gray-cool-80
bg-gray-cool-90
bg-gray-warm-1
bg-gray-warm-2
bg-gray-warm-3
bg-gray-warm-4
bg-gray-warm-5
bg-gray-warm-10
bg-gray-warm-20
bg-gray-warm-30
bg-gray-warm-40
bg-gray-warm-50
bg-gray-warm-60
bg-gray-warm-70
bg-gray-warm-80
bg-gray-warm-90
bg-pure-0
bg-pure-100
bg-primary-pastel-01
bg-primary-pastel-02
bg-primary-lighten-01
bg-primary-lighten-02
bg-primary-DEFAULT
bg-primary-darken-01
bg-primary-darken-02
bg-secondary-01
bg-secondary-02
bg-secondary-03
bg-secondary-05
bg-secondary-06
bg-secondary-07
bg-secondary-08
bg-secondary-09
bg-highlight
bg-warning
bg-success
bg-danger
bg-info
bg-support-10
bg-support-11
bg-support-01
bg-support-02
bg-support-03
bg-support-04
bg-support-05
bg-support-06
bg-support-07
bg-support-08
bg-support-09 -->

<router-outlet />